<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="includes">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" th:href="@{/css/gantt.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/navigation.css}">

        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/gantt.js}"></script>
    </th:block>
</head>
<body>
<header class="navbar" th:fragment="navbar" th:with="account=${account}">
    <!--/*@thymesVar id="account" type="gruppe8.nebula.models.Account"*/-->
    <a href="/">
        <div class="navbar-brand">
            <img class="navbar-logo" th:src="@{/images/starry-round-logo.svg}" alt="logo">
            <div class="navbar-text">
                <span class="nebula">Nebula Project Manager</span>
            </div>
        </div>
    </a>
    <div class="navbar-spacer"></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/signup}">Signup!</a></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/login}">Login</a></div>
    <div th:unless="${account} == null" class="navbar-text"><p th:text="'Welcome '+ ${account.getName()}"></p></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/projects}">Projects</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/teams}">Teams</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
</header>

<th:block th:fragment="team-card"><!--/*@thymesVar id="membership" type="gruppe8.nebula.entities.MembershipEntity"*/-->
    <div class="card">
        <div class="row no-wrap space-between">
            <strong class="heading"><a th:href="'/teams/'+${membership.teamId()}" th:text="${membership.teamName()}"></a></strong>
            <form th:action="@{delete}" method="POST">
                <input type="hidden" name="id" th:value="${membership.teamId()}">
                <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
            </form>
        </div>
        <div class="row no-wrap">
            <div class="tooltip">
                <span th:text="${membership.membershipCount()}" th:remove="tag"></span><i class="bi-people"></i>
                <span th:text="'You currently have ' + ${membership.membershipCount()} + ' member in your team'" class="tooltip-text"></span>
            </div>
            <div class="tooltip">
                <span th:text="${membership.invitationCount()}" th:remove="tag"></span><i class="bi-envelope"></i>
                <span th:text="'You have currently invited ' + ${membership.invitationCount()} + ' members'" class="tooltip-text"></span>
            </div>
            <div class="tooltip">
                <span th:text="${membership.projectCount()}" th:remove="tag"></span><i class="bi-bar-chart-steps"></i>
                <span th:text="'Your team currently have ' + ${membership.projectCount()} + ' projects'" class="tooltip-text"></span>
            </div>
        </div>
        <div class="row" th:unless="${membership.membershipAccepted()}">
            <form class="col form-control" method="post" th:action="@{/teams/accept}">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-success w-12" type="submit">Accept Invitation</button>
            </form>
            <form class="col form-control" method="post" th:action="@{reject}">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-danger w-12" type="submit">Reject Invitation</button>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="membership-card"><!--/*@thymesVar id="membership" type="gruppe8.nebula.entities.MembershipEntity"*/-->
    <div th:text="${membership.accountName} + ' (' + ${membership.accountEmail()} + ')'"></div>
    <div><form th:action="@{uninvite}" method="post">
        <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
        <input type="hidden" name="teamId" th:value="${membership.teamId()}">
        <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
    </form></div>
</th:block>

<th:block th:fragment="project-card"> <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <div class="row">
        <strong class="heading"><a th:href="'/projects/'+${project.getId()}" th:text="${project.getName()}"></a></strong>
    </div>
    <div class="row no-wrap">
        <div class="tooltip">
            <span th:text="${project.getAllTasks().size()}" th:remove="tag"></span><i class="bi-check-square"></i>
            <span th:if="${project.getAllTasks().size()} == 1" th:text="${project.getAllTasks().size()} + ' task in project'" class="tooltip-text"></span>
            <span th:unless="${project.getAllTasks().size()} == 1" th:text="${project.getAllTasks().size()} + ' tasks in project'" class="tooltip-text"></span>
        </div>
    </div>
</th:block>

<footer class="footer" th:fragment="footer">
    <div class="footer-spacer"></div>
    <div class="footer-text"><a th:href="@{/contact}">Contact page</a></div>
    <div class="footer-text"><a th:href="@{/#}">About Nebula</a></div>
    <div class="footer-text"><a th:href="@{/#}">Terms Of Use</a></div>
</footer>

<th:block th:fragment="task-tr">
    <!--/*@thymesVar id="tasks" type="java.util.List<gruppe8.nebula.models.Task>"*/-->
    <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <!--/*@thymesVar id="indent" type="java.lang.Integer"*/-->
    <th:block th:each="task : ${tasks}">
        <tr>
            <td>
                <span th:if="${indent} > 0" th:style="'display: inline-block; padding-left: '+${1.1 * indent - 1}+'rem;'">↳</span>
                <span th:text="${task.getName()}" th:remove="tag"></span>
            </td>
            <td th:text="${#temporals.format(task.getStartDate(), ' dd-MM-YYYY')}+' – '+${#temporals.format(task.getEndDate(), 'dd-MM-YYYY')}"></td>

            <td>
                <div class="row no-gap">
                    <form class="form-wrapper" th:action="@{/projects/update}" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.getId()}">
                        <input type="hidden" name="projectId" th:value="${project.getId()}">
                        <button type="submit" class="btn btn-success"><i class="bi-pencil"></i></button>
                    </form>

                    <form class="form-wrapper" th:action="@{/projects/delete}" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.getId()}">
                        <input type="hidden" name="projectId" th:value="${project.getId()}">
                        <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>

        <th:block th:unless="${task.getSubtasks().isEmpty()}"
                  th:insert="fragments/components :: task-tr"
                  th:with="tasks=${task.getSubtasks()}, indent=${indent+1}">
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="createTaskTab">
    <div class="row"><strong>Create a New Task</strong></div>
    <form class="col form-wrapper" th:action="@{create}" method="POST">
        <!-- The create task form -->
        <!-- name -->
        <div class="row form-control">
            <label for="name">Task Name*</label>
            <input type="text" id="name" name="name" placeholder="Give your task a good name" required>
        </div>
        <!-- start date -->
        <div class="row form-control">
            <label for="startDate">Start Date*</label>
            <input type="datetime-local" id="startDate" name="startDate" required>
        </div>
        <!-- end date -->
        <div class="row form-control">
            <label for="endDate">End Date*</label>
            <input type="datetime-local" id="endDate" name="endDate" required>
        </div>
        <!-- duration (hours) -->
        <div class="row form-control">
            <label for="endDate">Duration</label>
            <div class="row no-gap">
            <input type="number" placeholder="0" min="0" step="0.25" id="duration" name="duration">
            <span>hours</span>
            </div>
        </div>
        <!-- parent? -->
        <div class="row form-control">
            <label for="parentId">does task have parent?</label>
            <select id="parentId" name="parentId" list="tasks" autocomplete="off">
                <option value="">none</option>
                <option th:each="Task : ${project.getAllTasks()}"
                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
            </select>
        </div>
        <!-- resource? -->
        <div class="row form-control">
            <label for="resourceId">what type of resource?</label>
            <select id="resourceId" name="resourceId" list="resources" autocomplete="off">
                <option value="">none</option>
                <option th:each="Task : ${project.getAllTasks()}"
                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
            </select>
        </div>

        <input type="hidden" name="projectId" th:value="${project.getId()}">

        <div class="row form-control">
            <button class="w-12 btn btn-wow" type="submit" id="submit">Create Task</button>
        </div>
    </form>
</th:block>

</body>
</html>