<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>
<header class="navbar" th:fragment="navbar" th:with="account=${account} ?: null">
    <!--/*@thymesVar id="account" type="gruppe8.nebula.models.Account"*/-->
    <a href="/">
        <div class="navbar-brand">
            <img class="navbar-logo" src="/images/starry-round-logo.png" alt="logo">
            <div class="navbar-text">
                <span class="nebula">Nebula Project Manager</span>
            </div>
        </div>
    </a>
    <div class="navbar-spacer"></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/signup}">Signup!</a></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/login}">Login</a></div>
    <div th:unless="${account} == null" class="navbar-text">
        <p th:text="'Welcome '+ ${account.getName()}"></p></div>
    <div th:unless="${account} == null" class="navbar-text"><a href="/projects">Projects</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a href="/teams">Teams</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a href="/logout">Logout</a></div>
</header>

<div class="row" th:fragment="membership-card(membership)">
    <!--/*@thymesVar id="membership" type="gruppe8.nebula.entities.MembershipEntity"*/-->
    <div class="card">
        <div class="row">
            <a class="team-name" th:href="'/teams/'+${membership.teamId()}"><strong th:text="${membership.teamName()}"></strong></a>
        </div>
        <div class="row">
            <div class="col ">
                <div class="row tooltip">
                    <span class="bi-people"></span>
                    <span th:text="'You currently have ' + ${membership.membershipCount()} + ' member in your team'" class="tooltip-text"></span>
                    <span th:text="${membership.membershipCount()}"
                          th:remove="tag"></span>
                </div>
            </div>
            <div class="col">
                <div class="row tooltip">
                    <span class="bi-envelope"></span>
                    <span th:text="'You have currently invited ' + ${membership.invitationCount()} + ' members'" class="tooltip-text"></span>
                    <span th:text="${membership.invitationCount()}"
                                                            th:remove="tag"></span>
                </div>
            </div>
            <div class="col">
                <div class="row tooltip">
                    <span class="bi-briefcase"></span>
                    <span th:text="'Your team currently have ' + ${membership.projectCount()} + ' projects'" class="tooltip-text"></span>
                    <span th:text="${membership.projectCount()}"
                                                            th:remove="tag"></span>
                </div>
            </div>
        </div>
        <div class="row" th:unless="${membership.membershipAccepted()}">
            <form class="col form-control" method="post" action="/teams/accept">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-success w-12" type="submit">Accept Invitation</button>
            </form>
            <form class="col form-control" method="post" action="/teams/reject">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-danger w-12" type="submit">Reject Invitation</button>
            </form>
        </div>
    </div>
</div>




    <footer class="footer" th:fragment="footer">
        <div class="navbar-spacer"></div>
        <div class="footer-text"> <a th:href="@{/contact}">Contact page</a></div>
        <div class="footer-text"> <a th:href="@{/#}">About Nebula</a> </div>
        <div class="footer-text"> <a th:href="@{/#}">Terms Of Use</a> </div>






    </footer>

<div th:fragment="task">
 <table>
     <form th:action="@{/projects/delete}" method="POST">
         <input type="hidden" name="taskId" th:value="${task.getId()}">
         <input type="hidden" name="projectId" th:value="${project.getId()}">
         <tr>
             <td th:text="${task.getId()}"></td>
             <td th:text="${task.getName()}"></td>
             <td th:text="${task.getStartDate()}"></td>
             <td th:text="${task.getEndDate()}"></td>

             <td>
                 <button type="submit" class="btn btn-danger">x</button>
             </td>
         </tr>
     </form>
 </table>
    <div th:each="task : ${task.getSubtasks()}">
        <div th:replace="fragments/components :: task"></div>
    </div>
</div>


</body>
</html>