<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="includes">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" th:href="@{/css/gantt.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/navigation.css}">

        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/gantt.js}"></script>
    </th:block>
</head>
<body>
<header class="navbar" th:fragment="navbar" th:with="account=${account}">
    <!--/*@thymesVar id="account" type="gruppe8.nebula.models.Account"*/-->
    <a href="/">
        <div class="navbar-brand">
            <img class="navbar-logo" th:src="@{/images/starry-round-logo.svg}" alt="logo">
            <div class="navbar-text">
                <span class="nebula">Nebula Project Manager</span>
            </div>
        </div>
    </a>
    <div class="navbar-spacer"></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/signup}">Signup!</a></div>
    <div th:if="${account} == null" class="navbar-text"><a th:href="@{/login}">Login</a></div>
    <div th:unless="${account} == null" class="navbar-text"><p th:text="'Welcome '+ ${account.name()}"></p></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/projects}">Projects</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/teams}">Teams</a></div>
    <div th:unless="${account} == null" class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
</header>

<th:block th:fragment="message" th:with="message=${message}" th:if="${message != null}">
    <!--/*@thymesVar id="message" type="gruppe8.nebula.models.Message"*/-->
    <div class="message message-success row no-wrap space-between"
         th:if="${message.type() == T(gruppe8.nebula.models.Message.Type).SUCCESS}">
        <div>
            <span class="bi-check-circle"></span>
            <span th:text="${message.text()}"></span>
        </div>
        <span class="message-close" onclick="this.parentNode.remove()">✕</span>
    </div>
    <div class="message message-info row no-wrap space-between"
         th:if="${message.type() == T(gruppe8.nebula.models.Message.Type).INFO}">
        <div>
            <span class="bi-info-circle"></span>
            <span th:text="${message.text()}"></span>
        </div>
        <span class="message-close" onclick="this.parentNode.remove()">✕</span>
    </div>
    <div class="message message-warning row no-wrap space-between"
         th:if="${message.type() == T(gruppe8.nebula.models.Message.Type).WARNING}">
        <div>
            <span class="bi-exclamation-triangle"></span>
            <span th:text="${message.text()}"></span>
        </div>
        <span class="message-close" onclick="this.parentNode.remove()">✕</span>
    </div>
    <div class="message message-error row no-wrap space-between"
         th:if="${message.type() == T(gruppe8.nebula.models.Message.Type).ERROR}">
        <div>
            <span class="bi-x-circle"></span>
            <span th:text="${message.text()}"></span>
        </div>
        <span class="message-close" onclick="this.parentNode.remove()">✕</span>
    </div>
</th:block>

<th:block th:fragment="team-card"><!--/*@thymesVar id="membership" type="gruppe8.nebula.entities.MembershipEntity"*/-->
    <div class="card">
        <div class="row no-wrap space-between">
            <strong class="heading"><a th:href="'/teams/'+${membership.teamId()}" th:text="${membership.teamName()}"></a></strong>
            <form th:action="@{/teams/delete}" method="POST">
                <input type="hidden" name="id" th:value="${membership.teamId()}">
                <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
            </form>
        </div>
        <div class="row no-wrap">
            <div class="tooltip">
                <span th:text="${membership.membershipCount()}" th:remove="tag"></span><i class="bi-people"></i>
                <span th:text="'You currently have ' + ${membership.membershipCount()} + ' member in your team'" class="tooltip-text"></span>
            </div>
            <div class="tooltip">
                <span th:text="${membership.invitationCount()}" th:remove="tag"></span><i class="bi-envelope"></i>
                <span th:text="'You have currently invited ' + ${membership.invitationCount()} + ' members'" class="tooltip-text"></span>
            </div>
            <div class="tooltip">
                <span th:text="${membership.projectCount()}" th:remove="tag"></span><i class="bi-bar-chart-steps"></i>
                <span th:text="'Your team currently have ' + ${membership.projectCount()} + ' projects'" class="tooltip-text"></span>
            </div>
        </div>
        <div class="row" th:unless="${membership.membershipAccepted()}">
            <form class="col form-control" method="post" th:action="@{/teams/accept}">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-success w-12" type="submit">Accept Invitation</button>
            </form>
            <form class="col form-control" method="post" th:action="@{reject}">
                <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
                <button class="btn btn-danger w-12" type="submit">Reject Invitation</button>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="membership-card"><!--/*@thymesVar id="membership" type="gruppe8.nebula.entities.MembershipEntity"*/-->
    <div th:text="${membership.accountName} + ' (' + ${membership.accountEmail()} + ')'"></div>
    <div><form th:action="@{uninvite}" method="post">
        <input type="hidden" name="membershipId" th:value="${membership.membershipId()}">
        <input type="hidden" name="teamId" th:value="${membership.teamId()}">
        <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
    </form></div>
</th:block>

<th:block th:fragment="project-card"> <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <div class="row">
        <strong class="heading"><a th:href="'/projects/'+${project.getId()}" th:text="${project.getName()}"></a></strong>
    </div>
    <div class="row no-wrap">
        <div class="tooltip">
            <span th:text="${project.getAllTasks().size()}" th:remove="tag"></span><i class="bi-check-square"></i>
            <span th:if="${project.getAllTasks().size()} == 1" th:text="${project.getAllTasks().size()} + ' task in project'" class="tooltip-text"></span>
            <span th:unless="${project.getAllTasks().size()} == 1" th:text="${project.getAllTasks().size()} + ' tasks in project'" class="tooltip-text"></span>
        </div>
    </div>
</th:block>

<footer class="footer" th:fragment="footer">
    <div class="footer-spacer"></div>
    <div class="footer-text"><a th:href="@{/contact}">Contact page</a></div>
    <div class="footer-text"><a th:href="@{/#}">About Nebula</a></div>
    <div class="footer-text"><a th:href="@{/#}">Terms Of Use</a></div>
</footer>

<th:block th:fragment="task-tr">
    <!--/*@thymesVar id="tasks" type="java.util.List<gruppe8.nebula.models.Task>"*/-->
    <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <!--/*@thymesVar id="indent" type="java.lang.Integer"*/-->
    <th:block th:each="task : ${tasks}">
        <tr>
            <td>
                <span th:if="${indent} > 0" th:style="'display: inline-block; padding-left: '+${1.1 * indent - 1}+'rem;'">↳</span>
                <span th:text="${task.getName()}" th:remove="tag"></span>
            </td>
            <td th:text="${#temporals.format(task.getStartDate(), ' dd-MM-yyyy')}+' – '+${#temporals.format(task.getEndDate(), 'dd-MM-yyyy')}"></td>

            <td th:text="${task.getRemainingTimeForTask()}" ></td>

            <td th:text="${task.getDuration() + ' hours'}"></td>

            <!-- TODO: Selective currency -->
            <td th:text="${task.getEstimatedCost() + ' DKK'}"></td>

            <td>
                <div class="row no-gap">
                    <form class="form-wrapper" th:action="@{/projects/update}" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.getId()}">
                        <input type="hidden" name="projectId" th:value="${project.getId()}">
                        <button type="submit" class="btn btn-success"><i class="bi-pencil"></i></button>
                    </form>

                    <form class="form-wrapper" th:action="@{/projects/delete}" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.getId()}">
                        <input type="hidden" name="projectId" th:value="${project.getId()}">
                        <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>

        <th:block th:unless="${task.getSubtasks().isEmpty()}"
                  th:insert="fragments/components :: task-tr"
                  th:with="tasks=${task.getSubtasks()}, indent=${indent+1}">
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="createTaskTab">
    <div class="row"><strong>Create a New Task</strong></div>
    <form class="col form-wrapper" th:action="@{create}" method="POST">
        <!-- The create task form -->
        <!-- name -->
        <div class="row form-control">
            <label for="name">Task Name*</label>
            <input type="text" id="name" name="name" placeholder="Give your task a good name" required>
        </div>
        <!-- start date -->
        <div class="row form-control">
            <label for="startDate">Start Date*</label>
            <input type="datetime-local" id="startDate" name="startDate" required>
        </div>
        <!-- end date -->
        <div class="row form-control">
            <label for="endDate">End Date*</label>
            <input type="datetime-local" id="endDate" name="endDate" required>
        </div>
        <!-- duration (hours) -->
        <div class="row form-control">
            <label for="endDate">Duration</label>
            <input type="number" placeholder="0" min="0" step="1" id="duration" name="duration">
            <span>hours</span>
        </div>
        <!-- parent? -->
        <div class="row form-control">
            <label for="parentId">does task have parent?</label>
            <select id="parentId" name="parentId" list="tasks" autocomplete="off">
                <option value="">none</option>
                <option th:each="Task : ${project.getAllTasks()}"
                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
            </select>
        </div>
        <!-- Estimated cost -->
        <div class="row form-control">
            <label> Estimated cost</label>
            <!-- TODO: Selective currency -->
            <input type="number" min="0" step="0.01" max="99999" placeholder="0" name="estimatedCost"/>
            <span>DKK</span>
        </div>
            <!-- resource? -->
        <div class="row form-control">
            <label for="resourceList">what type of resource?</label>
            <select id="resourceList" name="resourceId" autocomplete="off">
                <option value="">none</option>
                <option th:each="entry : ${project.getResources()}" th:text="${entry.value.getName()}" th:value="${entry.key}">
                </option>
            </select>
        </div>

        <input type="hidden" name="projectId" th:value="${project.getId()}">

        <div class="row form-control">
            <button class="w-12 btn btn-wow" type="submit" id="submit">Create Task</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="editTask">
    <div class="row"><strong>Edit a task</strong></div>
    <form class="col form-wrapper" th:action="@{/update}" method="POST">
        <!-- The edit task form -->
        <!-- name -->
        <!--/*@thymesVar id="task" type="gruppe8.nebula.models.Task"*/-->
        <div class="row form-control">
            <label for="name">Task Name*</label>
            <input type="text" id="name" name="name" th:value="${task.getName()}" required>
        </div>
        <!-- start date -->
        <div class="row form-control">
            <label for="startDate">Start Date*</label>
            <input type="datetime-local" id="startDate" th:value="${task.getStartDate()}" name="startDate" required>
        </div>
        <!-- end date -->
        <div class="row form-control">
            <label for="endDate">End Date*</label>
            <input type="datetime-local" id="endDate" th:value="${task.getEndDate()}" name="endDate" required>
        </div>
        <!-- duration (hours) -->
        <div class="row form-control">
            <label for="endDate">Duration</label>
            <input type="number" placeholder="0" min="0" step="1" th:value="${task.getDuration()}" id="duration" name="duration">
            <span>hours</span>
        </div>
        <!-- parent? -->
        <div class="row form-control">
            <label for="parentId">does task have parent?</label>
            <select id="parentId" name="parentId" list="tasks" autocomplete="off">
                <option value="">none</option>
                <option th:each="Task : ${project.getAllTasks()}"
                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
            </select>
        </div>
        <!-- Estimated cost -->
        <div class="row form-control">
            <label> Estimated cost</label>
            <!-- TODO: Selective currency -->
            <input type="number" min="0" step="0.01" max="99999" th:placeholder="${task.getEstimatedCost()}" name="estimatedCost"/>
            <span>DKK</span>
        </div>
        <!-- resource? -->
        <div class="row form-control">
            <label for="resourceList">what type of resource?</label>
            <select id="resourceList" name="resourceId" autocomplete="off">
                <option value="">none</option>
                <option th:each="entry : ${project.getResources()}" th:text="${entry.value.getName()}" th:value="${entry.key}">
                </option>
            </select>
        </div>

        <input type="hidden" name="projectId" th:value="${project.getId()}">

        <div class="row form-control">
            <button class="w-12 btn btn-wow" type="submit" id="submit">Edit Task</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="resource-tr">
    <!--/*@thymesVar id="tasks" type="java.util.List<gruppe8.nebula.models.Task>"*/-->
    <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <!--/*@thymesVar id="indent" type="java.lang.Integer"*/-->

    <th:block th:each="entry : ${project.getResources()}">
        <tr>
            <td>
                <span th:text="${entry.value.getName()}" th:remove="tag"></span>
            </td>
            <td>
                <div class="foo" th:style="'background : ' + ${entry.value.getColor()}"></div>
            </td>
            <td>
                <form class="form-wrapper" th:action="@{/projects/delete-resource}" method="POST">
                    <input type="hidden" name="resourceId" th:value="${entry.key}">
                    <input type="hidden" name="project_id" th:value="${project.getId()}">
                    <button type="submit" class="btn btn-danger"><i class="bi-trash"></i></button>
                </form>
            </td>

        </tr>
    </th:block>
</th:block>

<th:block th:fragment="createResourceTab">
    <div class="row"><strong>Create a resource</strong></div>
    <div class="row">
        <form class="col form-wrapper" th:action="@{new-resource}" method="POST">
            <!-- The create resource form -->
            <!-- name -->
            <div class="row form-control">
                <label for="name">Name*</label>
                <input type="text" name="name" placeholder="Give your task a good name" required>
            </div>
            <!-- Color? -->
            <div class="row form-control">
                <!-- in the future would like to make non-hardcoded-->
                <label for="color">if you want, select color coding</label>
                <select class="none" id="color" name="color">
                    <option class="none" value="#808080" >none</option>
                    <option class="BlueCol" value="#13b4ff" background="#800000">Blue</option>
                    <option class="MaroonCol" value="#800000" >Maroon</option>
                    <option class="OliveCol" value="#808000" >Olive</option>
                    <option class="LimeCol" value="#00FF00" >Limecol</option>
                    <option class="AquaCol" value="00FFFF" >Aqua</option>
                    <option class="PurpleCol" value="#ab3fdd" >Purple</option>
                    <option class="WineCol" value="#ae163e" >Winecol</option>
                </select>
            </div>

            <input type="hidden" name="project_id" th:value="${project.getId()}">

            <div class="row form-control">
                <button class="w-12 btn btn-wow" type="submit">Create Resource</button>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="Gantt">
    <!--/*@thymesVar id="task" type="java.util.List<gruppe8.nebula.models.Task>"*/-->
    <!--/*@thymesVar id="task" type="java.util.List<gruppe8.nebula.models.Resource>"*/-->
    <!--/*@thymesVar id="project" type="gruppe8.nebula.models.Project"*/-->
    <div class="card" th:if="${not #lists.isEmpty(project.getAllTasks())}">
        <div class="chart-wrapper">
            <ul class="chart-values">
                <li th:each="String : ${project.getTotalProjectSpanDates()}" th:text="${String}"></li>
            </ul>
            <ul class="chart-bars">

                <li th:if="${project.getResources().get(Task.getResource())}==null" class="tooltip" th:each="Task : ${project.getAllTasks()}" th:data-duration="${Task.getDates()}" data-color="#808080" >
                    <span class="tooltip-text" th:utext="${Task.getRemainingTimeForTask() + ' left' + '<br>' + ' Estimated cost: ' + Task.getEstimatedCost() }"></span>
                    <span th:text="${Task.getName()}"></span>
                </li>

                <li th:unless="${project.getResources().get(Task.getResource())}==null" class="tooltip" th:each="Task : ${project.getAllTasks()}" th:data-duration="${Task.getDates()}" th:data-color="${project.getResources().get(Task.getResource()).getColor()}" >
                    <span class="tooltip-text" th:utext="${Task.getRemainingTimeForTask() + ' left' + '<br>' + ' Estimated cost: ' + Task.getEstimatedCost() }"></span>
                    <span th:text="${Task.getName()}"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="card" th:if="${#lists.isEmpty(project.getAllTasks())}">
        <p class="center">No tasks are currently available. Add some to your project to see the gantt chart here..</p>
    </div>

</th:block>
<!-- Insights -->
<th:block th:fragment="insights">
    <!-- error icon yoinked from bootstrap https://icons.getbootstrap.com/icons/exclamation-triangle/-->
    <div class="card" th:each="entry : ${project.getInsights()}">
        <div class="row">
            <svg class="center" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
            </svg>
            <div class="col">
                <p th:text="${entry.getTitle()}"></p>
                <p th:text="${entry.getBody()}"></p>
            </div>
        </div>
    </div>
    <div class="card" th:if="${#lists.isEmpty(project.getInsights())}">
        <p class="center">no insights are currently available...</p>
    </div>
</th:block>

</body>
</html>