@import "globals.css";

/* Navbar */
.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;

  background-color: var(--navbar-color);
}

.navbar-spacer {
  flex-grow: 1;
}

.navbar > * {
  padding: 0 1rem;
}

.navbar> :first-child {
  padding-left: 0;
}

.navbar > :last-child {
  padding-right: 0;
}

.navbar-text a{
  color: var(--primary-text-color);
  text-decoration: none;
}

.navbar-text a:hover{
  color: black;
  opacity: 50%;
}



