@import "globals.css";

/* Navbar */
.navbar {
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: var(--navbar-color);
  -webkit-box-shadow:  1px 12px 15px 0 var(--navbar-color);
  box-shadow:  1px 12px 15px 0 var(--navbar-color);
  height: var(--navbar-height);
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

}
.navbar-text {
  font-size: 1.2rem;
  font-weight: bold;

  background-color: var(--navbar-color);
}

.navbar-spacer {
  flex-grow: 1;
}

.navbar > * {
  padding: 0 1rem;
}

.navbar> :first-child {
  padding-left: 0;
}

.navbar > :last-child {
  padding-right: 0;
}

.navbar-text a{
  color: var(--primary-text-color);
  text-decoration: none;
}

.navbar-text a:hover{
  color: black;
  opacity: 50%;
}

.nebula{
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  font-size: 2em;
  font-style: oblique;

  margin: 0 2em;

  text-shadow: 0 0 10px blue;

  color: var(--primary-text-color);
}




