@import "globals.css";

* {
    box-sizing: border-box;
}
/* TODO: expand on this as we go, not everything needs to inherit but a lot of stuff does*/
button, input, textarea {
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.heading { white-space: nowrap; }

.form-wrapper {
    display: flex;
}

.form-control {
    display: flex;
    align-items: baseline;
}

.form-control label {
    margin-right: 1rem;
}

.form-control input, .form-control textarea {
    flex-grow: 1;
    margin: 0;
    border: none;
    outline: none;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    resize: none;
}
.form-control input:focus, .form-control textarea:focus { border-bottom-color: hsl(215, 100%, 50%); }

.main {
    background-color: #f2f2f2;
    width: 100%;
    min-height: calc(100vh - 2 * var(--navbar-height));
    padding: var(--main-padding);

    display: flex;
    flex-direction: column;
}

.center {
    justify-content : center;
    align-self : center;
}

.card {
    flex-grow: 1;
    background-color: white;
    border-radius: 0.6rem;
    margin: 0.25rem;
    padding: 1rem;
    box-shadow: var(--shadow-elevation-medium);
}

.btn {
    border: none;
    border-radius: 0.6rem;
    padding: 0.25rem 0.5rem;
    color: var(--primary-text-color);
    box-shadow: var(--shadow-elevation-medium);
}

.btn { background-color: hsl(0, 0%, 60%); }
.btn:hover { background-color: hsl(0, 0%, 63%); }
.btn:active { background-color: hsl(0, 0%, 57%); box-shadow: var(--shadow-elevation-low); }

.btn-success { background-color: hsl(120, 90%, 30%); }
.btn-success:hover { background-color: hsl(120, 90%, 33%); }
.btn-success:active { background-color: hsl(120, 90%, 27%);}

.btn-danger { background-color: hsl(0, 90%, 40%); }
.btn-danger:hover { background-color: hsl(0, 90%, 43%); }
.btn-danger:active { background-color: hsl(0, 90%, 37%); }

.btn-wow { background: linear-gradient(45deg, hsl(0, 90%, 65%) 0%, hsl(205, 70%, 50%) 50%, hsl(0, 90%, 65%) 100%); }
.btn-wow:hover { background: linear-gradient(45deg, hsl(0, 92%, 68%) 0%, hsl(205, 72%, 53%) 50%, hsl(0, 92%, 68%) 100%); }
.btn-wow:active { background: linear-gradient(45deg, hsl(0, 90%, 62%) 0%, hsl(205, 70%, 47%) 50%, hsl(0, 90%, 62%) 100%); }

.row {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    align-items: baseline;
}
.row:first-child { padding-top: 0; }
.row:last-child { padding-bottom: 0; }

.col {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 0 0;
}
.col:first-child { padding-left: 0; }
.col:last-child { padding-right: 0; }

.list-group {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    border-radius: 0.4rem;
    box-shadow: var(--shadow-elevation-low);
}
.list-group > .list-item {
    padding: 0 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    flex: 0 1 auto;
}
.list-group > .list-item:nth-child(odd) { background-color: hsl(0deg, 0%, 90%); }
.list-group > .list-item:nth-child(even) { }
.list-group > .list-item:first-child { border-top-left-radius: 0.4rem; border-top-right-radius: 0.4rem; }
.list-group > .list-item:last-child { border-bottom-left-radius: 0.4rem; border-bottom-right-radius: 0.4rem; }

.w-1  { width:   8.3333%; }
.w-2  { width:  16.6666%; }
.w-3  { width:  25.0000%; }
.w-4  { width:  33.3333%; }
.w-5  { width:  41.6666%; }
.w-6  { width:  50.0000%; }
.w-7  { width:  58.6666%; }
.w-8  { width:  66.6666%; }
.w-9  { width:  75.0000%; }
.w-10 { width:  83.3333%; }
.w-11 { width:  91.6666%; }
.w-12 { width: 100.0000%; }

.shadow-1 { box-shadow: var(--shadow-elevation-low); }
.shadow-2 { box-shadow: var(--shadow-elevation-medium); }
.shadow-3 { box-shadow: var(--shadow-elevation-high); }

.space-evenly { justify-content: space-evenly; }
.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }


.no-wrap { flex-wrap: nowrap; }
.overflow { overflow-x: scroll; }


.team-name{
    text-decoration: none;
    text-decoration-thickness: 2pt;
    color: blue;
}
.team-name:hover{
    text-decoration: underline;
}


/* Tooltip text */
.tooltip > .tooltip-text {
    font-size: 0.8rem;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 70%);

    color: #fff;
    padding: 0.4rem;
    border-radius: 0.4rem;

    /* Position the tooltip text - see examples below! */
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

#tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tasks td, #tasks th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 25em;
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: linear-gradient(45deg, red,blue,red);
    color: white;
}