<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Contact Us!</title>
    <style>
        textarea { resize: none; }
    </style>
</head>
<body>
<main th:fragment="content">
    <!-- Thanks to https://formsubmit.co/, we can submit forms through their server -->
    <div class="col center">
        <div class="row">
            <div class="card">
                <div class="row"><strong>Feel free to contact us with any questions!</strong></div>
                <div class="row">
                    <form class="col form-wrapper" action="https://formsubmit.co/31e4e52724b6ecafaf97c26d18b70a96" method="POST">
                        <div class="row form-control">
                            <label for="name">Name</label>
                            <input placeholder="Name" type="text" id="name" name="name" autocomplete="name" required>
                        </div>

                        <div class="row form-control">
                            <label for="email">Email</label>
                            <input placeholder="user@example.com" type="email" id="email" name="email" autocomplete="email" required>
                        </div>

                        <div class="row form-control">
                            <textarea placeholder="Rant all you want" id="message" cols="60" rows="3" name="message"></textarea>
                        </div>

                        <input type="hidden" id="subject" name="_subject" value="New submission!">
                        <input type="hidden" name="_captcha" value="false">
                        <!-- To be changed to Heroku's front page-->
                        <input type="hidden" name="_next" value="http://localhost:8080/">
                        <button type="submit" onclick="thankYou()" class="w-12 btn btn-wow">Send message!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
<body>