<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 500 | Internal sever error </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <style>
        body{
            background-image: linear-gradient(90deg, black, red, black) ;
        }
        * {
            font-weight: bold;
        }
        h1,
        h3{
            color: var(--primary-text-color);
        }
        p{
            font-size: 16em;
        }


    </style>

</head>
<body>

<main style="text-align: center">
    <h1>Oops!</h1>
    <h3>An error occurred with the server!</h3>

    <p>☹️</p>


    <div class="error">
        <a href="javascript:history.back()">Go back</a>
        <a th:href="@{/}">Go to home page</a>
        <a th:href="@{/teams}">Go to the team page</a>

    </div>
    
    
</main>

</body>
</html>