<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Welcome</title>
</head>
<body>
<main th:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                <iframe class="w-12" height="240px"  src="https://www.youtube.com/embed/YIWSEa5U9_U" allowfullscreen ></iframe>
                </div>
                <div class="row">Watch the video above to see Nebula demo'ed</div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <iframe class="w-12" height="240px"  src="https://www.youtube.com/embed/hwbqquXww-U?mute=1" allowfullscreen ></iframe>
                </div>
                <div class="row">Watch the video above to see Nebula demo'ed</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi, autem consectetur
                    consequuntur dicta dolorum enim et maxime minus nobis, nulla numquam provident qui quisquam quo
                    ratione repellat sapiente sit.</p>
                <p>Accusamus aut dolore hic id magni quam, rerum soluta voluptates? Alias aliquid aperiam asperiores
                    commodi doloremque enim, iure laboriosam minus molestiae necessitatibus numquam optio pariatur quas
                    quia, sapiente tenetur, vero.</p>
                <p>Ab aspernatur at atque consequuntur culpa doloremque dolores in, maiores modi molestiae molestias,
                    natus neque non odit omnis perspiciatis quae quibusdam suscipit tempora voluptatibus! Alias doloribus
                    nulla temporibus veritatis voluptatem?</p>
                <p>Amet, blanditiis, cumque! Accusantium alias atque commodi, dolor doloremque earum eligendi ex
                    expedita explicabo harum in laborum neque omnis perspiciatis porro qui quisquam quo recusandae
                    repellat saepe similique suscipit ullam?</p>
                <p>Aut autem consectetur dolorem doloribus expedita explicabo id iste laudantium, nulla, quae quam quidem
                    quos reiciendis, totam vitae? A ab blanditiis corporis cum dolorum ea maxime, porro sed tenetur vero.</p>
                <p>Assumenda blanditiis cumque cupiditate, incidunt iusto magnam nobis? Ad alias atque corporis delectus
                    distinctio eos id in obcaecati officia pariatur porro quis quo ratione repellendus rerum sapiente,
                    voluptas? Dicta, ut?</p>
                <p>Aliquam amet dignissimos, doloremque, expedita illum modi molestias nisi nobis perspiciatis provident
                    reiciendis repellendus sed suscipit, tempora tenetur velit veniam voluptate. Amet aspernatur beatae
                    facilis id laborum praesentium quibusdam totam?</p>
                <p>Beatae doloribus, excepturi facilis harum id ipsa laboriosam modi molestiae nesciunt obcaecati
                    possimus quasi quisquam repudiandae soluta sunt. A accusamus cupiditate dolore ducimus minus, mollitia
                    provident quo voluptatibus? Ab, hic!</p>
                <p>Asperiores blanditiis, delectus dolore dolorum ducimus explicabo ipsa laudantium nesciunt nulla
                    voluptate. Deleniti deserunt eaque nulla quibusdam reiciendis! Culpa doloribus, iste odit quis unde
                    veniam! Accusantium in quasi quidem sequi?</p>
                <p>Adipisci, distinctio exercitationem perspiciatis reprehenderit rerum ullam! Ab impedit necessitatibus
                    non nulla, repellendus sequi ut! Architecto atque consequatur corporis deleniti deserunt dolorum,
                    fugiat harum illo impedit itaque iure nisi, officia.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>