<!--Authors Simon Gredal & Malthe Gram-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Welcome</title>
</head>
<body>
<main th:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <video height="320px" th:src="@{/videos/signUpVid.mp4}" controls></video>
                <p>Watch the video above to see how to sign up!</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <video height="320px" th:src="@{/videos/usageTutorial.mp4}" controls></video>
                <p>Watch the video above to see Nebula demo'ed</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <p>
                    This website was developed as a second semester exam project at KEA.
                    <a href="https://github.com/simongredal/project-nebula/">Checkout the code on Github!</a>
                </p>
            </div>
        </div>
    </div>
</main>
</body>
</html>