<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>
    <title>Nebula!</title>
    <link rel="stylesheet" th:href="@{../css/navigations.css}">
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>

<main>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo iusto qui. Atque aut blanditiis
        consequuntur corporis dignissimos doloremque error est perferendis quod, repellendus reprehenderit repudiandae
        similique tempore, tenetur ullam.
    </div>
    <div>Cumque dignissimos distinctio eligendi iure iusto minima modi mollitia neque nihil optio quaerat rem totam,
        voluptatum. Autem, consectetur deserunt dicta dolorem illo itaque maiores minus nemo nostrum officia quibusdam
        vitae!
    </div>
    <div>Accusantium cupiditate doloribus earum esse laboriosam libero maiores maxime minima quam reprehenderit? Aliquid
        libero officia, quo saepe tempora temporibus ut velit. Architecto dolore eaque id illum, labore odit perferendis
        quo?
    </div>
    <div>Aut dolor incidunt, quaerat rem sapiente voluptate voluptatem. Ab deleniti dignissimos dolorem dolores,
        doloribus dolorum eaque enim eveniet exercitationem fugiat harum hic, in ipsum neque provident quidem repellat
        sapiente, suscipit.
    </div>
    <div>Aliquid aperiam architecto asperiores aut consequatur consequuntur corporis culpa distinctio doloremque
        explicabo facilis fuga id, laboriosam molestias natus nesciunt nisi nobis odio quaerat, similique sint
        temporibus totam velit veritatis voluptatum.
    </div>
    <div>Adipisci aliquam amet animi architecto, autem consequatur cum deleniti eius eligendi eveniet exercitationem
        explicabo incidunt, ipsum iste magnam nemo neque nisi optio possimus quasi qui quia repellat ut vel veritatis?
    </div>
    <div>Ducimus omnis, quod! Ab aliquam aliquid blanditiis commodi consequatur, dolor dolorem harum id ipsum labore
        laudantium nostrum provident quaerat quibusdam quis quisquam rerum sapiente sequi sit vel velit vitae
        voluptatibus!
    </div>
    <div>Adipisci corporis doloribus id? Itaque, libero, sint! Aspernatur dolorem earum fuga labore nisi obcaecati
        pariatur quibusdam saepe tenetur vel? Alias architecto, asperiores dicta ea magnam minima odit quos voluptas
        voluptates.
    </div>
    <div>Aperiam corporis dolores facilis fugiat nesciunt qui quia sed sit. Ad alias aspernatur autem deleniti, dolorem
        eligendi et ex iure maiores nobis odio, quasi repellendus sapiente sequi vitae. Animi, dolorum.
    </div>
    <div>Assumenda, aut cumque cupiditate delectus distinctio dolor dolorem, esse et exercitationem fugit provident
        quidem, saepe. Adipisci alias deleniti doloremque doloribus earum eveniet, fugit neque, porro quos reprehenderit
        veritatis vitae, voluptas.
    </div>
    <div>Ad adipisci aliquid, amet asperiores aspernatur atque eius est exercitationem explicabo facilis, laboriosam
        minima molestias nostrum quae quia quos saepe sapiente tempora vero voluptate. Assumenda illum magnam tenetur.
        Quisquam, repellendus.
    </div>
    <div>Ab at commodi consectetur corporis cum deserunt distinctio eius eum ex fuga in magni molestias nemo neque
        nesciunt non nulla numquam quasi quod, repellendus sapiente sint sunt tempore ullam velit.
    </div>
    <div>Accusantium amet aspernatur corporis delectus dicta dolorum eius eligendi enim error ex impedit ipsum nemo
        neque nihil officia officiis perspiciatis praesentium, quasi recusandae saepe sequi similique sunt velit, vero,
        voluptates!
    </div>
    <div>A at culpa, est harum illum in nemo pariatur rem repellat sed suscipit, unde vel. Esse nam, unde? Adipisci
        error ex fuga libero minus nulla obcaecati omnis sapiente sint vel.
    </div>
    <div>Animi aperiam beatae deleniti et facere ipsum laboriosam laborum nesciunt nobis non officia pariatur,
        perspiciatis porro provident quia quisquam, sequi ullam voluptas voluptates voluptatibus. Consequatur ipsa ipsam
        perferendis provident soluta?
    </div>
    <div>Ab alias aliquam animi, aperiam asperiores dolor dolorem enim facilis hic iure iusto laboriosam laudantium
        molestias, necessitatibus obcaecati praesentium quaerat quisquam, quo sint vero! Amet autem ipsam laudantium nam
        sed?
    </div>
    <div>Debitis dicta eos facere in iste molestias quaerat quo temporibus, tenetur voluptatibus! Accusamus at dolorem
        fugiat impedit labore, laudantium obcaecati omnis optio, provident, quos sapiente voluptates. Aliquid quam
        quidem tempora.
    </div>
    <div>Accusantium aspernatur consectetur consequatur dignissimos ea iusto magni molestiae, molestias possimus
        quibusdam quis, soluta, vitae! Id ipsum labore mollitia possimus praesentium provident quae quod voluptatibus!
        Dignissimos illo ipsa nam perspiciatis.
    </div>
    <div>Amet aut commodi ducimus recusandae repellendus! Accusamus consectetur debitis deserunt dolore, ea eligendi
        ipsa itaque libero molestias neque nobis non, pariatur perspiciatis reiciendis repellendus rerum suscipit ut
        veniam voluptatem voluptates?
    </div>
    <div>Aperiam assumenda blanditiis consequuntur, deserunt, dolore dolorem doloribus, enim esse ipsam iure
        reprehenderit ut velit voluptate. Assumenda consequatur dignissimos ex expedita ipsam, ratione. Dicta
        dignissimos doloremque exercitationem mollitia nobis officiis?
    </div>
    <div>A ad deleniti in nam nesciunt nisi sed? Autem, dolor doloremque dolores eligendi, itaque laboriosam laborum nam
        nisi perferendis quasi quis sunt tempore ullam. Eligendi libero sit vero voluptates? Quaerat?
    </div>
    <div>A ab amet animi at beatae consequuntur dolor dolore doloribus et, ex impedit in iste laboriosam mollitia,
        nostrum numquam odio odit quas qui quis repellendus sapiente sed, soluta? Inventore, repudiandae?
    </div>
    <div>At deserunt dignissimos distinctio eaque eligendi expedita, fuga laudantium natus neque nesciunt obcaecati odit
        praesentium quidem, repellendus sequi! Ea fugiat fugit incidunt veritatis voluptas. Ea enim harum iusto quos
        sed.
    </div>
    <div>Ad aperiam, autem debitis delectus dignissimos dolorum eos et facere illo, incidunt ipsam iste laborum modi
        molestiae, mollitia non nostrum nulla numquam odio perferendis quia quidem sapiente sunt temporibus vel!
    </div>
    <div>Asperiores aut fuga, impedit iure laudantium libero quo! Aliquid asperiores cupiditate delectus dignissimos
        ducimus enim error expedita, harum itaque natus possimus quasi qui rem temporibus totam vero voluptatibus!
        Consectetur, necessitatibus!
    </div>
    <div>Assumenda consectetur deleniti dolore ea expedita fugiat fugit nihil nisi nobis nostrum odio qui rerum, soluta
        tempora tempore! Distinctio dolorem doloribus explicabo perferendis rerum! Doloremque ea nisi perferendis
        ratione voluptate?
    </div>
    <div>A accusamus aperiam cumque cupiditate debitis doloribus dolorum eos id, itaque, nobis odio omnis, placeat quas
        soluta veritatis. Accusamus ducimus est maxime quae quas repudiandae tempora, voluptatum! Excepturi, soluta
        voluptate?
    </div>
    <div>Accusamus, assumenda dicta enim eum excepturi, facere fuga in maxime mollitia non qui quidem quo, rerum ut
        voluptates! Accusantium ducimus eaque enim esse exercitationem impedit non officiis sapiente veritatis voluptas!
    </div>
    <div>Ab architecto at culpa, dolor error esse, est harum id illum nam nihil quae qui ratione repellendus sed
        tempora, ut. Ad assumenda at cumque laborum modi nostrum optio porro quos.
    </div>
    <div>Aperiam aspernatur beatae blanditiis cumque cupiditate dignissimos dolore error et excepturi fugiat id illo,
        iste itaque iure magnam minima minus nobis nostrum odit omnis quidem ratione similique tempore tenetur unde?
    </div>
    <div>A, debitis officiis praesentium quae rem rerum saepe. Aliquam amet aperiam culpa ea esse excepturi in ipsum
        maiores molestias, nihil perferendis placeat possimus quibusdam quidem quos repellat sequi totam voluptatibus.
    </div>
    <div>Adipisci aliquid autem earum excepturi explicabo facilis fuga hic in mollitia necessitatibus neque nisi nobis
        officiis quisquam ratione rem repellendus sequi tempora veritatis vero vitae, voluptas voluptatum! At, beatae
        nisi.
    </div>
    <div>Atque beatae corporis enim fuga itaque nesciunt, quo rem reprehenderit sequi voluptatem. A accusamus adipisci
        amet architecto blanditiis dicta, et eveniet excepturi facere fugit, in, magni maxime minima modi voluptates?
    </div>
    <div>Accusamus dolores, quas? Accusamus aliquam aliquid, animi architecto blanditiis cumque explicabo fugit harum
        hic laudantium magni odio officiis omnis optio placeat quisquam reprehenderit, sit tempora! Amet beatae hic nisi
        officiis?
    </div>
    <div>Dicta est nam natus odio optio quo reiciendis, repudiandae tempora? Commodi culpa cumque debitis deserunt
        dignissimos distinctio, dolore ex facilis mollitia, perspiciatis quam qui quo sequi soluta ullam unde, velit!
    </div>
    <div>Earum eius esse ipsa magni mollitia quia sint ut! Accusamus accusantium aut est incidunt sunt. Cum ex harum
        itaque maxime possimus. Asperiores cumque cupiditate dolor fugiat hic quas rem, repellat.
    </div>
    <div>Ipsa praesentium quas ratione saepe tempora. Blanditiis deleniti exercitationem, harum id illo minus natus
        reiciendis sequi ullam! Architecto dolorum esse et laudantium magni odit praesentium quaerat quod, ratione
        repellendus similique!
    </div>
    <div>Dignissimos eligendi facilis perferendis sapiente! A accusantium adipisci dignissimos dolores ex, facilis hic
        id laudantium magnam minus molestias nam nemo neque porro, quaerat quis quod saepe suscipit vero vitae
        voluptatum.
    </div>
    <div>Consequatur doloremque eligendi expedita explicabo illo, laborum nihil, nostrum nulla pariatur perspiciatis
        placeat quidem quisquam, quos sed ullam ut veritatis voluptas voluptates. Ex iste nam natus perferendis quae
        veniam voluptate.
    </div>
    <div>Ab, ad amet, eaque et itaque labore minus mollitia pariatur quasi quos sequi velit. Cum cumque dolorem dolores
        ducimus facilis harum hic in minima, molestias, odit sunt tenetur, vel voluptatem?
    </div>

</main>




<footer th:replace="fragments/components :: footer"></footer>


</body>
</html>