<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>

    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">

    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

    <title>Login page</title>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>
<main>

    <form th:action="@{/login}" method="POST">
        <div class="form-wrapper">
            <label for="email">Email</label>
            <input size="35" type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-wrapper">
            <label for="password">Password</label>
            <input type="password" size="35" id="password" name="password" class="form-control" required>
            <button type="button" id="password-toggle" class="bi-eye-slash" onclick="passwordVisibility()"></button>
        </div>

        <input type="submit" value="Login!">

    </form>

</main>



<footer th:replace="fragments/components :: footer"></footer>
</body>
</html>