<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>

    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

    <title>Login page</title>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>
<main class="main center">
<div class="row w-6 center">
<form class="col form-wrapper" th:action="@{/login}" method="POST">
    <div class="row form-control">
        <label for="email">Email</label>
        <input placeholder="user@example.com" autocomplete="email" type="email" id="email" name="email" required>
    </div>
    <div class="row form-control">
        <label for="password">Password</label>
        <input placeholder="••••••••••" autocomplete="current-password" type="password" id="password" name="password" required>
        <button type="button" id="password-toggle" class="bi-eye-slash" onclick="passwordVisibility()"></button>
    </div>
    <div class="row form-control">
        <button class="btn w-12" type="submit">Log In</button>
    </div>
</form>
</div>
</main>
</body>
</html>