<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Project editor</title>
</head>
<body>
<main th:fragment="content">
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Create')">London</button>
        <button class="tablinks" onclick="openCity(event, 'Edit')">Paris</button>
        <button class="tablinks" onclick="openCity(event, 'Delete')">Tokyo</button>
    </div>

    <!-- Tab content -->
    <div id="Create" class="tabcontent">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>

    <div id="Edit" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="Delete" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row"><strong class="heading">Tasks in This Project</strong></div>
                <div class="row">
                    <table class="table-group">
                        <thead><tr><td>Name</td><td>Date</td><td>Edit</td></tr></thead>
                        <tbody th:insert="fragments/components :: task-tr" th:with="tasks=${project.getSubtasks()}, indent=0"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="card">
                    <div class="row"><strong>Create a New Task</strong></div>
                    <div class="row">
                        <form class="col form-wrapper" th:action="@{create}" method="POST">
                            <!-- The create task form -->
                            <!-- name -->
                            <div class="row form-control">
                                <label for="name">Task Name <span class="required">*</span></label>
                                <input type="text" id="name" name="name" placeholder="Give your task a good name" required>
                            </div>
                            <!-- start date -->
                            <div class="row form-control">
                                <label for="startDate">startDate <span class="required">*</span> </label>
                                <input type="datetime-local" id="startDate" name="startDate" required>
                            </div>
                            <!-- end date -->
                            <div class="row form-control">
                                <label for="endDate">endDate <span class="required">*</span></label>
                                <input type="datetime-local" id="endDate" name="endDate" required>
                            </div>
                            <!-- duration (hours) -->
                            <div class="row form-control">
                                <label for="endDate">Duration (hours)</label>
                                <input type="number" id="duration" name="duration">
                            </div>
                            <!-- parent? -->
                            <div class="row form-control">
                                <label for="parentId">does task have parent?</label>
                                <div class="w-12">
                                    <div class="col" id="taskList">
                                        <div class="form-control">
                                            <select class="w-12" id="parentId" name="parentId" list="tasks" autocomplete="off">
                                                <option value="">none</option>
                                                <option th:each="Task : ${project.getAllTasks()}"
                                                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- resource? -->
                            <div class="row form-control">
                                <label for="resourceId">what type of resource?</label>
                                <div class="w-12">
                                    <div class="col" id="resourceList">
                                        <div class="form-control">
                                            <select class="w-12" id="resourceId" name="resourceId" list="resources" autocomplete="off">
                                                <option value="">none</option>
                                                <option th:each="Task : ${project.getAllTasks()}"
                                                        th:text="${Task.getName()}" th:value="${Task.getId()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="projectId" th:value="${project.getId()}">

                            <div class="row form-control">
                                <button class="w-12 btn btn-wow" type="submit" id="submit">Create Task</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <form action="/task" method="POST">
        <div id="add-field">
            Create new input field. Should be made a list
        <button type="button" id="add-field-btn  -button" onclick="addField()">Add another task!</button>
            <input type="text" list="accounts" placeholder="Set a task">
            TODO:: Set whose responsible for each task. Maybe with a Datalist

        </div>
            <input type="submit" value="Submit task!">

    </form>-->

    <div class="row">
        <div class="card">
            <div class="row overflow">
            <div class="chart-wrapper">
                <ul class="chart-values">
                    <li th:each="String : ${project.getTotalProjectSpanDates()}" th:text="${String}"></li>
                </ul>
                <ul class="chart-bars">
                    <li class="tooltip" th:each="Task : ${project.getAllTasks()}" th:data-duration="${Task.getDates()}" data-color="#b03532" >
                        <span class="tooltip-text" th:text="${Task.getName()}"></span>
                        <span th:text="${Task.getName()}"></span>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>