<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Project editor</title>

</head>
<body>
<main th:fragment="content">
    <div class="center"><h2 th:text="${project.getName()}"></h2></div>
    <div class="row">
        <div class="tab-group">
            <div class="tab-menu">
                <a class="active" data-target="#tabA">Project Shit</a>
                <a data-target="#tabB">Insight Shit</a>
            </div>
            <div class="tab-folder">
                <div id="tabA" class="tab-content active">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="row"><strong class="heading">Tasks in This Project</strong></div>
                                <div class="row">
                                    <table class="table-group">
                                        <thead><tr><td>Name</td><td>Date</td><td>Remaining time</td><td>Expected Duration</td><td>Estimated Cost</td><td>Edit</td></tr></thead>
                                        <tbody th:insert="fragments/components :: task-tr" th:with="tasks=${project.getSubtasks()}, indent=0"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="tab-group">
                                    <div class="tab-menu">
                                        <a class="active" data-target="#tab1">Create task</a>
                                        <a data-target="#tab2">Edit task</a>
                                        <a data-target="#tab3">Delete task</a>
                                    </div>
                                    <div class="tab-folder">
                                        <div id="tab1" class="tab-content active" th:insert="fragments/components :: createTaskTab"></div>
                                        <div id="tab2" class="tab-content">TBD 2</div>
                                        <div id="tab3" class="tab-content">TBD 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabB" class="tab-content">
                    <div class="row">
                        Insightsss yo, science bitch!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- resource overview and editor -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row"><strong class="heading">Resources in This Project</strong></div>
                <div class="row">
                    <table class="table-group">
                        <thead><tr><td>Name</td></tr></thead>
                        <tbody th:insert="fragments/components :: resource-tr" th:with="tasks=${project.getSubtasks()}, indent=0"></tbody>
                    </table>
                </div>
            </div>
        </div>
            <!--<input type="submit" value="Submit task!">-->

        <div class="col">
            <div class="row">
                <div class="card">
                    <main th:replace="fragments/components :: createResourceTab"></main>
                </div>
            </div>
        </div>
    </div>

    <!-- gantt diagram -->
    <div class="row">
        <div class="card">
            <div class="row overflow">
            <div class="chart-wrapper">
                <ul class="chart-values">
                    <li th:each="String : ${project.getTotalProjectSpanDates()}" th:text="${String}"></li>
                </ul>
                <ul class="chart-bars">

                    <li th:if="${project.getResources().get(Task.getResource())}==null" class="tooltip" th:each="Task : ${project.getAllTasks()}" th:data-duration="${Task.getDates()}" data-color="#808080" >
                        <span class="tooltip-text" th:utext="${Task.getRemainingTimeForTask() + ' left' + '<br>' + ' Estimated cost: ' + Task.getEstimatedCost() }"></span>
                        <span th:text="${Task.getName()}"></span>
                    </li>
                    <li th:unless="${project.getResources().get(Task.getResource())}==null" class="tooltip" th:each="Task : ${project.getAllTasks()}" th:data-duration="${Task.getDates()}" th:data-color="${project.getResources().get(Task.getResource()).getColor()}" >
                        <span class="tooltip-text" th:utext="${Task.getRemainingTimeForTask() + ' left' + '<br>' + ' Estimated cost: ' + Task.getEstimatedCost() }"></span>
                        <span th:text="${Task.getName()}"></span>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    <!-- Insights -->
    <div th:replace="fragments/components :: insights"></div>
</main>
</body>
</html>