<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Your Page Name Here</title>
</head>
<body>
<main th:fragment="content">
    <div class="row center"><h2 class="heading">All Your Projects</h2></div>
    <div class="row center" th:if="${allTeams.isEmpty()}">
        <h3><a th:href="@{teams}">To create a Team and project go here!</a></h3>
    </div>
    <div class="row" th:if="${allTeams}">
        <div class="col" th:each="team: ${allTeams}">
            <div class="row center">
                <strong class="heading"><a th:href="'/teams/'+${team.getId()}" th:text="${team.getName()}"></a></strong>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card"
                         th:each="project : ${team.getProjects()}"
                         th:insert="fragments/components :: project-card"
                         th:with="project = ${project}">
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>
</body>
</html>