<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>

    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">

    <script type="text/javascript" th:src="@{../js/scripts.js}"></script>

    <title>Sign up page</title>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>

<main>

    <form th:action="@{/signup}" method="POST">
        <div class="form-wrapper">
            <input placeholder="Name" type="text" size="35" id="name" name="name" class="form-control" required>
        </div>

        <div class="form-wrapper">
            <input placeholder="Email" type="email" size="35" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-wrapper">
            <input placeholder="Password" type="password" size="35" id="password" name="password" class="form-control" required>
            <button type="button" id="password-toggle" class="bi-eye-slash" onclick="passwordVisibility()"></button>
        </div>

        <input type="submit" class="btn" value="Signup">

    </form>

</main>


</body>
</html>