<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Project editor</title>

</head>
<body>
<main th:fragment="content">
    <div class="row">
        <div class="card">
            <div class="row"><strong>Tasks in This Project</strong></div>
            <div class="row" th:each="task : ${project.getSubtasks()}">
                <div th:replace="fragments/components :: task"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="row"><strong>Tasks in This Project (getAllTasks)</strong></div>
            <div class="row" th:each="task : ${project.getAllTasks()}">
                <strong th:text="${task.getId()} + ': ' + ${task.getName()}" ></strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="row"><strong>Create a New Task</strong></div>
            <div class="row">
                <form class="col form-wrapper" th:action="@{/projects/create}" method="POST">
                    <div class="row form-control">
                        <label for="name">Task Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="row form-control">
                        <label for="startDate">startDate</label>
                        <input type="date" id="startDate" name="startDate" required>
                    </div>
                    <div class="row form-control">
                        <label for="endDate">endDate</label>
                        <input type="date" id="endDate" name="endDate" required>
                    </div>
                    <div class="row form-control">
                        <label for="parentId">parent</label>
                        <input type="text" id="parentId" name="parentId">
                    </div>

                    <input type="hidden" name="projectId" th:value="${project.getId()}">

                    <div class="row form-control">
                        <button class="w-12 btn btn-wow" type="submit" id="submit">Create Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
    <form action="/task" method="POST">
        <div id="add-field">
            Create new input field. Should be made a list
        <button type="button" id="add-field-btn  -button" onclick="addField()">Add another task!</button>
            <input type="text" list="accounts" placeholder="Set a task">
            TODO:: Set whose responsible for each task. Maybe with a Datalist

        </div>
            <input type="submit" value="Submit task!">

    </form>-->
    <div class="chart-wrapper">
            <!--
            <ul class="chart-values">
                <li th:each="task : ${project.getSubtasks()}" th:text="${project.getName()}"></li>
            </ul>-->

            <ul class="chart-values">
                <li>sun</li>
                <li>mon</li>
                <li>tue</li>
                <li>wed</li>
                <li>thu</li>
                <li>fri</li>
                <li>sat</li>
            </ul>

            <ul class="chart-bars">
                <li data-duration="tue½-wed" data-color="#b03532">Task</li>
                <li data-duration="wed-sat" data-color="#33a8a5">Task</li>
                <li data-duration="sun-tue" data-color="#30997a">Task</li>
                <li data-duration="tue½-thu" data-color="#6a478f">Task</li>
                <li data-duration="mon-tue½" data-color="#da6f2b">Task</li>
                <li data-duration="wed-wed" data-color="#3d8bb1">Task</li>
                <li data-duration="thu-fri½" data-color="#e03f3f">Task</li>
                <li data-duration="mon½-wed½" data-color="#59a627">Task</li>
                <li data-duration="fri-sat" data-color="#4464a1">Task</li>
            </ul>
    </div>
</main>
</body>
</html>