<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page">Teams</title>
</head>
<body>
<main th:fragment="content">
    <div class="row">
        <div class="col">
            <div class="row center"><h2 class="heading">All Your Teams</h2></div>
            <div class="row"
                 th:each="team : ${teams}"
                 th:include="fragments/components :: team-card"
                 th:with="membership=${team}">
            </div>
        </div>
        <div class="col">
            <div class="row center"><h2>All Your Invitations</h2></div>
            <div class="row"
                 th:each="invite : ${invites}"
                 th:include="fragments/components :: team-card"
                 th:with="membership=${invite}">
            </div>
        </div>
        <div class="col">
            <div class="row center">
            <h2>Create a New Team</h2>
            </div>
            <div class="row">
            <div class="card">
                <form class="col form-wrapper" th:action="@{/teams/create}" method="POST">
                    <div class="row form-control">
                        <label for="name">Team Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="row w-12">
                        <div class="col">
                            <div class="row form-control">
                                <label for="team-member">Invite Team Members</label>
                                <button type="button"  class="btn" id="team-members-button" onclick="addTeamInvitation()">Invite more...</button>
                            </div>
                            <div class="w-12">
                                <div class="col" id="team-members">
                                    <div class="form-control">
                                        <input class="w-12" id="team-member" type="email" list="accounts" name="invitations" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <datalist id="accounts">
                                <option th:each="account : ${allAccounts}"
                                        th:text="${account.email()}"></option>
                                <!-- TODO: MAKE IT POSSIBLE TO ALSO GE THE NAME
                                    https://stackoverflow.com/questions/29882361/show-datalist-labels-but-submit-the-actual-value/61328832#61328832
                                -->
                            </datalist>

                        </div>
                    </div>
                    <div class="row form-control">
                        <button class="btn btn-wow w-12" type="submit" id="submit">Create Team</button>
                    </div>

                   <!-- <input hidden type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
                </form>
            </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>