<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:include="fragments/layout :: layout">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page" th:inline="text">[['Team '+${team.getName()}]]</title>
</head>
<body>
<main th:fragment="content">
    <div class="row wrap">
        <div class="col">
            <div class="row center"><h2 class="heading">Projects</h2></div>

            <div th:each="project : ${team.getProjects()}" th:remove="tag">
                <div th:replace="fragments/components :: project-card(${project})"></div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="row"><strong>Create More Projects</strong></div>
                    <div class="row">
                        <form th:action="@{/projects/new-page}" method="post" class="col form-wrapper">
                            <div class="row form-control">
                                <label for="name">Project Name</label>
                                <input type="text" id="name" name="name" autocomplete="off" placeholder="My Awesome Project">
                            </div>
                            <div class="row form-control">
                                <button type="submit" class="w-12 btn btn-wow">Create Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row center"><h2 class="heading">Memberships</h2></div>
            <div class="row">
                <div class="card">
                    <div class="row"><strong class="heading">Current Members</strong></div>
                    <div class="row">
                        <div class="list-group">
                            <div class="list-item no-wrap space-between" th:each="member : ${members}">
                                <div th:replace="fragments/components :: membership-card(${member})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="row"><strong class="heading">Active Invitations</strong></div>
                    <div class="row">
                        <div class="list-group">
                            <div class="list-item no-wrap space-between" th:each="invite : ${invites}">
                                <div th:replace="fragments/components :: membership-card(${invite})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="row"><strong>Send More Invitations</strong></div>
                    <div class="row">
                        <form th:action="@{invite}" method="post" class="col form-wrapper">
                            <div class="row form-control">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" autocomplete="off" placeholder="user@example.com">
                            </div>
                            <input type="hidden" name="teamId" th:value="${team.getId()}">
                            <div class="row form-control">
                                <button type="submit" class="w-12 btn btn-wow">Send Invitation</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>